<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin">KazePH Admin</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin" Match="NavLinkMatch.All">
                <span class="bi bi-speedometer2" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/deposits">
                <span class="bi bi-cash-coin" aria-hidden="true"></span> Deposits
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/withdrawals">
                <span class="bi bi-bank" aria-hidden="true"></span> Withdrawals
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/disputes">
                <span class="bi bi-exclamation-triangle-fill" aria-hidden="true"></span> Disputes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/users">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Users
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/events">
                <span class="bi bi-calendar-event" aria-hidden="true"></span> Events
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/config">
                <span class="bi bi-gear-fill" aria-hidden="true"></span> Config
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/payment-methods">
                <span class="bi bi-credit-card-fill" aria-hidden="true"></span> Payment Methods
            </NavLink>
        </div>
    </nav>
</div>
